{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="currentPassword" name="currentPassword" placeholder="Current_Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="newPassword" name="newPassword" placeholder="New_Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}
